@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
*{
	font-family : 'Nanum Gothic';
	/* font-family : 'Cute Font'; */
}
h{
	font-family : 'Nanum Gothic';
}
textarea{
	font-family : 'Nanum Gothic';
	
}
