<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="my.web.note.vo.MemberVO" alias="member"/>
		<typeAlias type="my.web.note.vo.BoardVO" alias="board"/>
		<typeAlias type="my.web.note.vo.CommentVO" alias="comment"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/memberMapper.xml"/>
		<mapper resource="mapper/boardMapper.xml"/>
		<mapper resource="mapper/commentMapper.xml"/>
	</mappers>
</configuration>
 